/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-image: url("/image/polaroid.png");
}
.container {
  font-family: "lobster", cursive;
}
.container header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("/image/citycenter.jpg");
  height: 30vh;
}
.container h1 {
  text-align: center;
  font-size: 8rem;
  color: white;
}
.container nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 4rem;
}
.container a {
  color: white;
  text-decoration: none;
}
.container a:hover {
  color: black;
  border: 0.2rem solid black;
}
.universalh1 {
  margin-left: 15rem;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.universalp {
  fontsize: 5rem;
  width: 50vw;
  padding-left: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.universalimage {
  margin-left: 10%;
}
.universalline {
  margin: 3rem 25rem 3rem 25rem;
  width: 50%;
}
.aboutme {
  margin-bottom: 10vh;
  padding-top: 35vh;
  font-family: "Times New Roman", "Times", seriff;
}
.aboutme .aboutme-first {
  display: flex;
  justify-content: space-evenly;
}
.aboutme h1 {
  margin-left: 15rem;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.aboutme p {
  fontsize: 5rem;
  width: 50vw;
  padding-left: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.aboutme img {
  margin-left: 10%;
}
.line {
  margin: 3rem 25rem 3rem 25rem;
  width: 50%;
}
.skills h1 {
  margin-left: 15rem;
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-left: 40rem;
}
.skills .skills2 {
  display: flex;
  justify-content: space-around;
}
.skills .skills2 h2 {
  font-size: 3rem;
}
.skills .skills2 li {
  padding-top: 1rem;
  line-height: 2.5;
  font-size: 2.5rem;
  list-style-type: circle ;
}
.history h1 {
  margin-left: 15rem;
  font-size: 5rem;
  margin-bottom: 2rem;
  margin-left: 40rem;
}
.history table {
  margin: 0 auto;
}
.history tr,
.history th,
.history td {
  border: 3px solid black;
  text-align: center;
  font-size: 3rem;
  background: #f7f7f7;
}
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container2 input[type=text],
.container2 select,
.container2 textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.container2 input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container2 input[type=submit]:hover {
  background-color: #45a049;
}
