// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 90%;
	
}
// My code start here
@colorlavender: white;
@Timesnewroman: "Times New Roman", "Times", seriff;
@mobileview: ~ "(max-width: 590px)";
body{
	
	background-image: url("/image/polaroid.png")
    
}
.container{
	font-family: "lobster",cursive;
	
	header{
		
		position: fixed;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-image: url("/image/citycenter.jpg");
		height: 40vh;
		
	}
		h1{
			text-align: center;
			font-size: 8rem;
			color:@colorlavender;
				 @media @mobileview{
					font-size: 4rem; 
			
				}
			
		}
		nav{
			display: flex;
			justify-content: space-evenly;
			font-size: 3rem;
				
		}
			a{
				color:@colorlavender;
				text-decoration: none;		
					@media @mobileview{
						font-size: 2rem; 
					}

				&:hover{
					color: black;
					border: 0.2rem solid black;
				}
			}
		}


.universalh1{
	margin-left: 15rem;
	font-size: 5rem;
	margin-bottom: 2rem;
		@media @mobileview{
			font-size: 3rem;
}
}
.universalp{

	font-size: 1rem;
	width: 50vw;
	padding-left: 6rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.universalimage{
	margin-left: 10%;
	width: 100%;
}
.universalline{
	margin: 3rem 25% 3rem 25%;
	width: 50vw;
}
.aboutme{
	margin-bottom: 10vh;
	margin: 0 auto;
	.aboutme-first{
		display: flex;
		justify-content: space-evenly;
				@media @mobileview{
					flex-direction: column;
		}
	}
		padding-top: 45vh;
		font-family: @Timesnewroman;

		h1{
		.universalh1();
			@media @mobileview{
				font-size: 3rem;
				margin-left: 25vw
		}
		}
		p{
		.universalp();
			@media @mobileview{
				width: 100%;
				margin: 0 auto;
		}
			
		}
		img{
		.universalimage();
			@media @mobileview{
				margin-left: 5%;
		}
		}
	
}
.line{
	.universalline() ;
}
.skills{
	margin: 0 20vw;
	
	h1{
		.universalh1();
		margin-left: 40%;
	}
	.skills2 {
		display: flex;
		justify-content: space-evenly;
		div{
			margin-left: 30%;
			
		}
		h2{
			font-size: 2.3rem;
			
			font-weight: 400;
			
				@media @mobileview{
					font-size: 2rem;
			}
		}
		
		
		li{
			width: 20vw;
			
			padding-top: 1rem;
			line-height: 2.5;
			font-size: 2vw;
			list-style-type: circle ;
					@media @mobileview{
					font-size: 1.5rem;
					
					}
			
		}
	}
}
.history{
	h1{
		.universalh1();
		margin-left: 30%;
	}
	table{
		margin: 0 auto;
		width: 100%;
			@media @mobileview{
			   margin-left: 2rem;
			}
	}
	tr, th,td{
		border: 0.1rem solid black;
		text-align: center;
		font-size: 2rem;
		background: #f7f7f7;


	}
}
.contactme{
	div{
		display: flex;
		justify-content: space-evenly;
	}
	
	h1{
		
		.universalh1();
		margin-left: 30%;
	}
	.email-me{
		width: 10rem;
		
			&:hover{
				opacity: 0.5;
			}
	}
}

